.main_banner{
  margin-bottom:25px;
  &_container{
    position: relative;
    &-pagination{

    }
    &-items{
      .item{
        position: relative;
        a{
          display: block;
          padding: 10px 40px;
          position: absolute;
          bottom: 10px;
          left:10px;
          background: #fff;
          color:#000;
        }
      }
    }
  }
}