.top_navbar{
  &-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #cccccc;
    padding:5px 0 0 0;
    &__item{
      &-logo{
        margin:0 15px;
      }
      &-contacts{
        font-family: $font-ptsans;
        text-align: right;
        span, a{
          color: #29262f;
          margin-right:10px;
        }
      }
      &-menu{
        margin-top:10px;
        &__list{
          list-style-type: none;
          li{
            display: inline-block;

            &:last-child{
              //search block
              display: inline-table;
              vertical-align: middle;
            }
            a{
              padding: 15px 10px;
              color:#424852;
              font-family: $font-ptsans;
              position: relative;
              display: block;
              &:hover{
                font-weight: 700;
                &:after{
                  width: calc(100% - 20px);
                  height: 3px;
                }
              }
              &:after{
                content:"";
                transition: all 1s;
                width: 0;
                height: 3px;
                bottom: 0;
                display: block;
                left: 10px;
                background: #f36b5b;
                position: absolute;
              }
              &.active{
                font-weight: 700;
                cursor:default;
                &:after{
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: 15px;
                  width: 35%;
                  height: 3px;
                  background: #f36b5b;
                }
              }
            }
          }
        }
      }
    }
  }
}